[user]
	name = Ryan Cline
	email = ryan.cline@gmail.com

[credential]
	helper = osxkeychain

[github]

[gh]

[core]
	excludesfile = /Users/RCline-MRPro/.gitignore_global
	editor = vim
	ignorecase = false

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
	type = cat-file -t
	dump = cat-file -p

	lba = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lbafp = !git lba --first-parent
	lbn = !git lba --max-count
	lb = !git lbn 10
	lbfp = !git lb --first-parent
	la = !git lba --all
	ln = !git la --max-count
	l = !git ln 10

	f = fetch --multiple upstream swat rcline
	amend = commit -a --amend --no-edit
	
	c = commit
	co = checkout
	cob = !git co -b
	cot = !git co -t

	alias = config --get-regexp alias

	force = push --force-with-lease

[color]
	ui = auto

[remote "upstream"]
	fetch = +refs/heads/*:refs/remotes/upstream/*
	fetch = +refs/pull/*/head:refs/remotes/upstream/pr/*

[rerere]
	enabled = false

[branch]
	autosetuprebase = always

[help]
   # autoCorrect = true

[grep]
   # lineNumbers = true
