[user]
	name = Ryan Cline
	email = ryan.cline@gmail.com

[credential]
	helper = osxkeychain

[github]

[gh]

[core]
	excludesfile = /Users/RCline-MRPro/.gitignore_global
	editor = vim
	ignorecase = false

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
	type = cat-file -t
	dump = cat-file -p

	lba = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lbn = !git lba --max-count
	lb = !git lbn 10
	la = !git lba --all
	ln = !git la --max-count
	l = !git ln 10
	
	gb = branch -aq | grep 
	co = checkout `git branch | grep 
	cob = checkout -b `git branch | grep 
	
	alias = config --get-regexp alias

[color]
	ui = auto

[rerere]
	enabled = false

[branch]
	autosetuprebase = always

[help]
   # autoCorrect = true

[grep]
   # lineNumbers = true
