[user]
	name = Ryan Cline
	email = ryan.cline@gmail.com

[credential]
	helper = osxkeychain

[github]

[core]
	excludesfile = /Users/rcline/.gitignore_global
	editor = vim
	ignorecase = false

[alias]
	type = cat-file -t
	dump = cat-file -p

	lba = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lbafp = !git lba --first-parent
	lbn = !git lba --max-count
	lb = !git lbn 10
	lbfp = !git lb --first-parent
	la = !git lba --all
	ln = !git la --max-count
	l = !git ln 10

	f = fetch --multiple upstream rcline
	amend = commit -a --amend --no-edit

	force = push --force-with-lease

	r = remote
	b = branch
	c = commit
	co = checkout
	cob = !git co -b
	cot = !git co -t
	mm = merge upstream/master
	rbm = rebase upstream/master

	st = !git lb && git status

	alias = config --get-regexp alias

[color]
	ui = auto

[remote "upstream"]
	fetch = +refs/heads/*:refs/remotes/upstream/*
	fetch = +refs/pull/*/head:refs/remotes/upstream/pr/*

[help]
	autoCorrect = true

[grep]
	lineNumbers = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
